 {% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>TinFit</h1>
            <span class="subheading">Top melhores treinos</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" >
      
          <a href="#">
           {% for title,videoId,imageVideo in title_videoId_imageVideo %}   
  <div class="post-preview">
            <a href= "https://www.youtube.com/watch?v={{videoId}}">
            <h2 class="post-title">
              {{title.title()}}
            </h2>
            <h3 class="post-subtitle">
             <img src="{{imageVideo}}" >
            </h3>
            <hr>
          </a>
          <p class="post-meta"> TinFit
            </a>
          </p>
 
             {% endfor %}
        </div>
         
        <!-- Pager -->
        <div class="clearfix">
         
        </div>
      </div>
    </div>
  </div>

  <hr>

  

  {% include "footer.html" %}

